<div class="btnflex">
        <button (click)='openDialog()' mat-raised-button color="primary" style="margin-right:20px" >ADD SELLER PRODUCT</button>
        <button mat-raised-button color="primary" style="margin-right:20px">ADD SELLER</button>
</div>

<mat-card class="sellercard" >
        <mat-card-content>
            <mat-list>
                <mat-list-item>
                    <div class="head_container">
                        <div style="display:flex;flex:1;">
                            <span>LionHart</span>
                        </div>
                        <div><span><mat-icon>playlist_add</mat-icon></span>
                            <span><mat-icon>list</mat-icon></span>
                            <span><mat-icon>delete_forever</mat-icon></span>
                            <span><mat-icon>next_week</mat-icon></span>
                        </div>
                    </div>                
                </mat-list-item>
                <mat-list-item>
                        <div class="head_container">
                            <div style="display:flex;flex:1;">
                                <span>Thunderer Trac Grip</span>
                            </div>
                            <div><span><mat-icon>playlist_add</mat-icon></span>
                                <span><mat-icon>list</mat-icon></span>
                                <span><mat-icon>delete_forever</mat-icon></span>
                                <span><mat-icon>next_week</mat-icon></span>
                            </div>
                        </div>                
                    </mat-list-item>
                
                
                
            </mat-list>
        
        </mat-card-content>
    </mat-card>
    

        