<p mat-dialog-content style = "padding:24px 24px 20px; font-size:21px;">Are you Sure to Delete the MPN ?</p>
<div style="padding:0px 24px 24px">
    <p style="font:16px; color:rgba(0,0,0,0.54)">It will delete this product of Brand. All data will be lost forever.</p>
    <div style="display: flex;flex-direction: row;justify-content:flex-end;">
        <button mat-stroked-button color="warn" style="margin-right: 15px; font-size:14px" (click) = "deleteBrandProduct()">DELETE </button>
        <button mat-raised-button color="primary" mat-dialog-close>CANCEL</button>
    </div>
</div>