<form [formGroup] = "form" >
    <p mat-dialog-title>Upload Product's csv</p>
    <mat-form-field>
        <mat-select placeholder="Brand" formControlName="brand" required>
            <mat-option *ngFor="let item of brandArray" [value]="item">{{item.name}}</mat-option>
        </mat-select><br>
    </mat-form-field>
        
        <input type="file" id="fileUpload" name="profile" accept=".csv" (change)="onFileSelect($event)" #file>
        

         <mat-dialog-actions>
                <div style="display: flex; flex-direction: row; justify-content: flex-end;">
                    <button mat-raised-button mat-dialog-close>Cancel</button>
                    <button (click)="onUpload()" mat-raised-button color="primary" style="margin-right: 15px;;">UPLOAD</button>
                    
                </div>
         </mat-dialog-actions>
</form>