.btnflex{
    display:flex;
    justify-content:flex-end;
    margin:20px;
}
.brandcard{
    margin:auto 15px;    
}
.head_container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%
}
.circleIcon{
    color:#6d6d6d;
    background: #eeeeee;
    border-radius: 50%;
    width: 30px!important;
    height: 30px!important;
    font-size: 16px!important;
    text-align: center;
    line-height: 30px;
    margin-right: 20px;;
}
.mat-dialog-actions {
    padding: 0px !important;
    margin-bottom: 0px !important;
}