
<mat-tab-group style="margin-left: 20px;">
        <mat-tab label="All" style="font-size:14px;">
            <mat-card style="width:98%">
                <mat-nav-list role="list">
                        <mat-list-item role="listitem" style="background-color: #ccceeb;">
                            <div class="head_container" >
                                <div>
                                    <span><mat-icon style = "border-radius: 50%; background:#eeeeee;">import_export</mat-icon></span>
                                    <span style="width: 200px; font: 18px;">&nbsp; MPN No. (Brand Name) &nbsp;</span>
                                    <!-- <span>&nbsp;( Brand Name ) &nbsp;</span> -->
                                    <span>&nbsp;Seller Name &nbsp;</span>
                                </div>
                                
                                <div>
                                    <span>Old Price</span>
                                    <span><mat-icon>arrow_forward_ios</mat-icon></span>
                                    <span>New Price</span>
                                    <mat-divider></mat-divider>
                                </div>
                            </div>

                        </mat-list-item>
                        <mat-list-item role="listitem"  *ngFor="let entry of alerts" (click)="changeStatusAll(entry.id)">
                                <div class="head_container" [ngStyle]="{'opacity' : entry.statusChangeBy === -1 ? 0.6 : 1}">
                                    <div>   
                                        <span><mat-icon *ngIf="entry.newPrice - entry.oldPrice > 0; else downward" style="background:green; border-radius: 50%; color:white;">arrow_upward</mat-icon></span>
                                        <ng-template #downward>
                                                <span><mat-icon style="background:red; border-radius: 50%; color:white;">arrow_downward</mat-icon></span>
                                        </ng-template>
                                        <span>&nbsp;{{ entry.competitorLink.skuId }}&nbsp;</span>
                                        
                                        <span *ngIf = "entry.competitorLink.competitorId ==12; else TTG" style="font:18px;">&nbsp;(LionHart)&nbsp;</span>
                                        <ng-template #TTG><span>&nbsp;(Thunderer Trac Grip)&nbsp;</span></ng-template>
                                        <span *ngIf = "entry.competitorLink.competitorId; else BWT">&nbsp;IFixItZone&nbsp;</span>
                                        <ng-template #BWT><span>&nbsp;Buy Wheels Today&nbsp;</span></ng-template>
                                    </div>
                                    <div>
                                        <span>{{entry.oldPrice}}</span>
                                        <mat-icon>arrow_forward_ios</mat-icon>
                                        <span>{{entry.newPrice}}</span>
                                        <mat-divider></mat-divider>
                                    </div>
                                </div>

                            </mat-list-item>
                            <div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center;">
                                <mat-spinner></mat-spinner>
                            </div>
                </mat-nav-list>
                </mat-card>
        </mat-tab>
        <!--for another tab UNREAD-->
        <mat-tab label="Unread">
                <mat-card>
                <mat-nav-list role="list">
                        <mat-list-item role="listitem" style="background-color: #ccceeb;">
                            <div class="head_container">
                                <div>
                                    <span><mat-icon style = "border-radius: 50%; background:#eeeeee;">import_export</mat-icon></span>
                                    <span>&nbsp; MPN No. &nbsp;</span>
                                    <span>(Brand Name) &nbsp;</span>
                                    <span>Seller Name &nbsp;</span>
                                </div>
                                
                                <div>
                                    <span>Old Price</span>
                                    <span><mat-icon>arrow_forward_ios</mat-icon></span>
                                    <span>New Price</span>
                                </div>
                            </div>

                        </mat-list-item>
                        <mat-list-item role="listitem" *ngFor="let wryyy of unreadAlerts" (click) = "changeStatus(wryyy.id)">
                                <div class="head_container">
                                        <div>
                                            <span><mat-icon *ngIf="wryyy.newPrice - wryyy.oldPrice > 0; else downward" class="circleUp-icon">arrow_upward</mat-icon></span>
                                            <ng-template #downward>
                                                    <span><mat-icon style="background:red; border-radius: 50%; color:white;">arrow_downward</mat-icon></span>
                                            </ng-template>
                                            <span>&nbsp;{{ wryyy.competitorLink['skuId'] }}&nbsp;</span>
                                            
                                            <span *ngIf = "wryyy.competitorLink['competitorId']==12; else TTG">&nbsp;(LionHart)&nbsp;</span>
                                            <ng-template #TTG><span>&nbsp;(Thunderer Trac Grip)&nbsp;</span></ng-template>
                                            <span *ngIf = "wryyy.competitorLink['competitorId']==12; else BWT">&nbsp;IFixItZone&nbsp;</span>
                                            <ng-template #BWT><span>&nbsp;Buy Wheels Today&nbsp;</span></ng-template>
                                        </div>
                                        <div>
                                            <span>{{wryyy.oldPrice}}</span>
                                            <mat-icon>arrow_forward_ios</mat-icon>
                                            <span>{{wryyy.newPrice}}</span>
                                            <mat-divider></mat-divider>
                                        </div>
                                    </div>
                        </mat-list-item>
                        <div *ngIf="isLoading" >
                                <mat-spinner></mat-spinner>
                        </div>
                        
                </mat-nav-list>
            </mat-card>
        </mat-tab>
        <!--For Another Tab Read-->
        <mat-tab label="Read">
                <mat-card style="width:98%">
                <mat-nav-list role="list">
                        <mat-list-item role="listitem" style="background-color: #ccceeb;">
                            <div class="head_container">
                                <div>
                                    <span><mat-icon style = "border-radius: 50%; background:#eeeeee;">import_export</mat-icon></span>
                                    <span>&nbsp; MPN No. &nbsp;</span>
                                    <span>(Brand Name) &nbsp;</span>
                                    <span>Seller Name &nbsp;</span>
                                </div>
                                
                                <div>
                                    <span>Old Price</span>
                                    <span><mat-icon>arrow_forward_ios</mat-icon></span>
                                    <span>New Price</span>
                                </div>
                            </div>

                        </mat-list-item>
                        <mat-list-item role="listitem" *ngFor="let flag of readAlerts" style="opacity: .6;">
                                <div class="head_container">
                                        <div>
                                            <span><mat-icon *ngIf="flag.newPrice - flag.oldPrice > 0; else downward" style="background:green; border-radius: 50%; color:white;">arrow_upward</mat-icon></span>
                                            <ng-template #downward>
                                                    <span><mat-icon style="background:red; border-radius: 50%; color:white;">arrow_downward</mat-icon></span>
                                            </ng-template>
                                            <span>&nbsp;{{ flag.competitorLink['skuId'] }}&nbsp;</span>
                                            
                                            <span *ngIf = "flag.competitorLink['competitorId']==12; else TTG">&nbsp;(LionHart)&nbsp;</span>
                                            <ng-template #TTG><span>&nbsp;(Thunderer Trac Grip)&nbsp;</span></ng-template>
                                            <span *ngIf = "flag.competitorLink['competitorId']==12; else BWT">&nbsp;IFixItZone&nbsp;</span>
                                            <ng-template #BWT><span>&nbsp;Buy Wheels Today&nbsp;</span></ng-template>
                                        </div>
                                        <div>
                                            <span>{{flag.oldPrice}}</span>
                                            <mat-icon>arrow_forward_ios</mat-icon>
                                            <span>{{flag.newPrice}}</span>
                                            <mat-divider></mat-divider>
                                        </div>
                                    </div>
                        </mat-list-item>
                        <div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center;">
                                <mat-spinner></mat-spinner>
                        </div>
                        
                </mat-nav-list>
            </mat-card>
        </mat-tab>
</mat-tab-group>

      