<form [formGroup]="form" (ngSubmit)="submit(form)">
   <h1 mat-dialog-title>Add Seller </h1>
   <mat-dialog-content>
       <mat-form-field style="width:100%">
           <input matInput placeholder="Name*" formControlName="name" >
       </mat-form-field>
       <mat-form-field style="width:100%">
           <input matInput placeholder= "Store Link (optional)" formControlName="url" >
       </mat-form-field>
       <mat-dialog-actions>
           <div style="display: flex; flex-direction: row; justify-content: flex-end;">
           <button mat-button-type="submit" mat-raised-button color="primary" style="margin-right: 15px;;">Add</button>
           <button mat-raised-button mat-dialog-close>Cancel</button>
           </div>
       </mat-dialog-actions>
   </mat-dialog-content> 
