<div class="head2" style="margin-left: 20px; ">
    <div>
        <form [formGroup]="form">
        <mat-form-field>
            <mat-select placeholder="Choose another brand" formControlName="brand" required>
                <mat-option *ngFor="let item of brandArray" [value]="item">
                    {{item.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </form>    
    </div>
    <div style="display:flex;flex-direction:row;align-items: center;">
        <button (click) = "exportAsCsv()" mat-raised-button color="primary" style="margin-right: 15px;">EXPORT AS CSV</button>
        <mat-slide-toggle color="primary" (toggleChange) = "modifyTable()">Compare</mat-slide-toggle> 
    </div>   
</div>          
          <table mat-table [dataSource]= 'dashArray' style='width:96%; margin-left: 20px;'>
          <ng-container matColumnDef="Sku">
                  <th mat-header-cell *matHeaderCellDef > MPN </th>
                  <td mat-cell *matCellDef="let element"> {{element.Sku}} </td>
          </ng-container>

          <ng-container matColumnDef="ProductName">
              <th mat-header-cell *matHeaderCellDef > Product Name </th>
              <td mat-cell *matCellDef="let element" > {{element.ProductName}} </td>
           </ng-container> 
           
           <ng-container matColumnDef="OurPrice" stickyEnd>
              <th mat-header-cell *matHeaderCellDef class="includePartition"> Our Cost </th>
              <td mat-cell *matCellDef="let element" class="includePartition"> {{element.OurPrice}} </td>
           </ng-container>
           <ng-container matColumnDef="Quantity">
              <th mat-header-cell *matHeaderCellDef class="includePartition"> Quantity </th>
              <td mat-cell *matCellDef="let element" class="includePartition"> {{element.Quantity}} </td>
          </ng-container>
          <ng-container matColumnDef="SellerPrice">
              <th mat-header-cell *matHeaderCellDef class="includePartition"> (Price) </th>
              <td mat-cell *matCellDef="let element" class="includePartition"> 
                <ng-container  *ngIf="element.SellerInfo else NA">
                Rs {{element.SellerInfo[0].SellerPrice}} 
              </ng-container>
              <ng-template #NA>N/A</ng-template>
              </td>
          </ng-container>
          <ng-container matColumnDef="SellerSold">
              <th mat-header-cell *matHeaderCellDef class="includePartition"> (#Sold) </th>
              <td mat-cell *matCellDef="let element" class="includePartition"> 
                  <ng-container  *ngIf="element.SellerInfo else NA">
                  Rs {{element.SellerInfo[0].SellerSold}} 
                </ng-container>
                <ng-template #NA>N/A</ng-template>

                </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns" style="background: #eeeeee;"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
          </table>
          <div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center;">
            <mat-spinner></mat-spinner> 
            <!-- <mat-progress-spinner color= "primary" mode="intermediate"></mat-progress-spinner> -->
          </div>
        
              
          