table {
    width: 100%;
  }
.head2{
    margin-top:15px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;

}
.slodeTog{
    margin-left:15px;
}
.mat-header-cell{
    font-size:17px;
}
.mat-cell{
    font-size:15px;
}
.includePartition{
    border-left:1px solid #e0e0e0;
    text-align: center;
}