<div class="btnflex">
<button mat-raised-button color="primary" style="margin-right:20px">UPLOAD CSV</button>
<button mat-raised-button color="primary" style="margin-right:20px">ADD PRODUCT</button>
<button mat-raised-button color="primary" style="margin-right:20px">ADD BRAND</button>
</div>

<mat-card class="brandcard">
    <mat-card-content>
        <mat-list>
            <mat-list-item ><span matSuffix>LionHart</span><mat-icon>delete_forever</mat-icon></mat-list-item>
            <mat-list-item><span matSuffix>Thunder Trac Grip</span><mat-icon>delete_forever</mat-icon></mat-list-item>
            
            
        </mat-list>
    
    </mat-card-content>
</mat-card>

<!-- <mat-list-item>
        <div class="head_container">
            <div style="display:flex;flex:1;">
                <span>LionHart</span>
            </div>
            <div>
                <span><mat-icon>arrow_forward</mat-icon></span>
                <span><mat-icon>delete_forever</mat-icon></span>
            </div>
        </div>                
    </mat-list-item> -->

<!-- <div class="compare"style="display:flex">
    <div>
        <div></div>
        <div></div>
    </div>
    <div><mat-icon>arrow_forwardios</mat-icon></div>
    <div>
        <div></div>
        <div></div>
    </div>
</div> -->